[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
loguru = "*"
urllib3 = "*"
httpx = {extras = ["http2"], version = "*"}
pymysql = "*"
dbutils = "*"
func-timeout = "*"
requests = "*"
reportlab = "*"
pillow = "*"
pandas = "*"
xlsxwriter = "*"
numpy = "*"
lxml = "*"
datetime = "*"
prettytable = "*"
redis = "*"
pyyaml = "*"

[dev-packages]

[requires]
python_version = "3.9"
